.recommendation-panel{
  padding:40px;
}

.recommendation-panel h2{
  text-align:center;
  margin-bottom:20px;
}

.recommendation-card{
  background:#111827;

  border-radius:20px;

  padding:25px;

  width:90%;

  margin:auto;
}

.recommendation-card h3{
  color:#22c55e;

  margin-bottom:20px;
}

.recommendation-card ul{
  list-style:none;
}

.recommendation-card li{
  margin-bottom:10px;
}
